<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Download gdreqbot</h1>
            <hr>
            <div class="has-text-info">
                <span class="icon">
                    <i class="subtitle has-text-info fas fa-info-circle"></i>
                </span>
                <span class="has-text-info">If Windows flags the .exe as potentially dangerous, click on "More info" and "Run anyway". See <strong><a href="/faq#windows-flags-as-dangerous">FAQ</a></strong> for more info.</span>
            </div>
            <br>
            <p class="subtitle is-4">Windows (x64)</p>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/v<%= versions.win32 %>/gdreqbot-<%= versions.win32 %>.Setup.exe" class="button is-success">
                <span class="icon">
                    <i class="fab fa-windows"></i>
                </span>
                <span>Download for Windows</span>
            </a>
            <br></br>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/v<%= versions.win32 %>/gdreqbot-<%= versions.win32 %>-win32-x64.zip" class="button is-success">
                <span class="icon">
                    <i class="fab fa-windows"></i>
                </span>
                <span>Download Portable</span>
            </a>
            <hr>
            <div class="has-text-info">
                <span class="icon">
                    <i class="subtitle has-text-info fas fa-info-circle"></i>
                </span>
                <span class="has-text-info">macOS prevents running unsigned apps. Go to System Settings > Privacy & Security > search for gdreqbot > select "Open Anyway".</span>
            </div>
            <br>
            <p class="subtitle is-4">macOS</p>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/v<%= versions.darwin %>/gdreqbot-<%= versions.darwin %>-darwin-x64.zip" class="button is-success">
                <span class="icon">
                    <i class="fab fa-apple"></i>
                </span>
                <span>Download for macOS (Intel)</span>
            </a>
            <br></br>
            <span class="has-text-info">(If you have a somewhat recent MacBook, you likely run on Apple Silicon)</span>
            <br></br>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/v<%= versions.darwin %>/gdreqbot-<%= versions.darwin %>-darwin-arm64.zip" class="button is-success">
                <span class="icon">
                    <i class="fab fa-apple"></i>
                </span>
                <span>Download for macOS (Apple Silicon)</span>
            </a>
            <hr>
            <p class="subtitle is-4">Linux (x64)</p>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/v<%= versions.linux %>/gdreqbot_<%= versions.linux %>_amd64.deb" class="button is-success">
                <span class="icon">
                    <i class="fab fa-linux"></i>
                </span>
                <span>Download for Linux (deb)</span>
            </a>
            <br></br>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/v<%= versions.linux %>/gdreqbot-<%= versions.linux %>-linux-x64.tar.gz" class="button is-success">
                <span class="icon">
                    <i class="fab fa-linux"></i>
                </span>
                <span>Download Portable</span>
            </a>
            <hr>
        </div>
    </section>
<%- include('components/footer') %>
